<html>
<head>
	<title>Nearby Pokémon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PokeMap026">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#3b3b3b">
	<script>var pageLoaded = new Date().getTime();</script>
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/mobile.min.css').lstrip('/') }}" type="text/css" />
</head>
<body>
	<h1>Pokémon vlakbij</h1>

	<ol>
{% for pokemon in pokemon_list[:30] %}
{% set img = 'icons/' ~ pokemon.id ~ '.png' -%}
		<li style="background-image: url('{{ url_for('static', filename=img).lstrip('/') }}')"
			href='geo:0,0?q={{pokemon.latitude}},{{pokemon.longitude}}({{pokemon.name}})'>
			<div class="name">{{pokemon.name}}</div>
			<div class="dir"> - {{pokemon.distance}}m ({{pokemon.card_dir}}) - </div>
			<div class="remain" disappear="{{pokemon.disappear_sec}}">{{pokemon.time_to_disappear}}</div>
		</li>
{% endfor %}
	</ol>

	<div id="nav">
		<button>Refresh</button>
		<div>
			<label><input type="checkbox" id="use-loc">Gebruik mijn locatie</label>
		</div>
	</div>

	<a class="origin" href='geo:0,0?q={{origin_lat}},{{origin_lng}}(origin)'>origin location</a>

	<script src="{{ url_for('static', filename='dist/js/mobile.min.js').lstrip('/') }}"></script>
</body>
</html>
